@keyframes navTextLoad {
    0% {
        opacity: 0;
        margin-top: 85%;
    }
    
    100% {
        opacity: 1;
    }
}

* {
   font-family: "Oxygen Mono", monospace;
   font-weight: 700;
   box-sizing: border-box;
   user-select: none;
}

body {
    background-color: #2b2b2b;
    padding: 0;
    margin: 0;
    transform: scale(1);
}

.nav {
    display: flex;
    background-color: #f1511b;
    height: 15%;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0;
    align-items: center;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;

    color: rgba(0, 0, 0, 0.5);
    margin: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    transform: scale(1);

    animation: navTextLoad 1.5s ease forwards;

    transition: 
        color 0.2s ease-in-out,
        text-decoration 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}

.nav a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    transform: scale(1.15);
    font-weight: 1000;
}

.nav .active {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    transform: scale(1.15);
    font-weight: 1000;
}

.nav-bottom {
    background-color: rgba(0, 0, 0, 0.5);
    height: 0.5%;
}

.project_div {
    background-color: #f1511b;
    opacity: 0.5;
    width: 50rem;
    height: 20rem;
    border-radius: 1rem;
    padding-left: 1rem;
    margin: 1rem auto;
    cursor: pointer;
}

.project_div:hover {
    opacity: 1;
}

.project_div p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .nav ul {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .nav li {
        white-space: nowrap;
    }

    .nav a {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .project_div {
        width: 25rem;
        height: 10rem;
    }

    .project_div h1 {
        font-size: 1rem;
    }

    .project_div h2 {
        font-size: 0.7rem;
    }

    .project_div p {
        font-size: 0.5rem;
    }
}